<%# DONE add jobs magazines, create table, add bootstrap %>

<p id="notice"><%= notice %></p>

<h1>Oenologists</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Country</th>
      <th>Positions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oenologists.each do |oenologist| %>
      <tr>
        <td><%= oenologist.Name %></td>
        <td><%= oenologist.Age %></td>
        <td><%= oenologist.Country %></td>

        <%# DONE %>
        <%# Loop through positions and add Job at Magazine %>
        <ul>
          <td>
            <% oenologist.positions.each_with_index do |position, index|%>
              <li class="bullet"> 
                <%= "#{position.job.name} at #{position.magazine.Name}" %>
              </li>
            <%end%>
          </td>
          </ul>
          
        <td>
          <div class="btn btn-red">
            <%= link_to 'Show', oenologist, class: 'btn btn_red' %>
          </div>
          <div class="btn btn-red">
            <%= link_to 'Edit', edit_oenologist_path(oenologist), class: 'btn btn_red' %>
          </div>
          <div class="btn btn-red">
            <%= link_to 'Destroy', oenologist, class: 'btn btn_red', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oenologist', new_oenologist_path %>
